<!-- link to add_task.erb file and this file will list all tasks -->

<h1>Welcome to Task Master!</h1>
<h2> To add a task to your task list please <a href="/add_task"> Click here</a></h2>

<table border ="1">

    <tr>
      <th>
        Task
      </th>
      <th>
        Task Name
      </th>
      <th width = "400px">
        Task Description (Optional)
      </th>
      <th>
        Completed?
      </th>
      <th>
        Date Completed
      </th>
    </tr>

    <!-- This is using all the array index positions and putting each one in it's
    own data cell in an html table-->
      <% @tasks.each do |task| %>
    <tr>
      <td>
      <%= task[0] %>
      </td>
      <td>
        <%= task[1] %>
      </td>
      <td>
        <%= task[2] %>
      </td>
      <td>
        <%= task[3] %>
      </td>
      <td>
        <%= task[4] %>
      </td>
    </tr>


  <% end %>
</table>
